* {
    margin: 0;
    padding: 0;
    color: #9A44A2;
}

body {
    background-color: #F9EFF9;
    background-image: linear-gradient(to top, #F5F5F5, #F9EFF9);
}

.page-content {
    padding: 20px;
}


.navbar {
    background-color: #F9EFF9;
    
}

.text {
    color: #9A44A2;
}


.navbar-brand {
    font-family: 'Roboto', sans-serif; /* Utiliza la fuente Roboto */
    font-weight: 500; /* Puedes ajustar el peso de la fuente según tus preferencias */
    font-size: 1.5rem; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
}

.img-nuestras-tortas {
    min-width: 33.33vw;
    max-width: 50vw;
    height: 200px; /* Tamaño fijo deseado */
    overflow: hidden; /* Para recortar las imágenes si son más grandes que el contenedor */
}

.img-nuestras-tortas img {
    transition: transform 1s ease;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen se ajuste al contenedor manteniendo su relación de aspecto */
}

.img-nuestras-tortas:hover img {
    transform: scale(1.05);
}

#sobre-nosotros-content {
    max-height: 50vh;
    overflow-y: auto;
}

#pastry-chef {
    min-width: 300px;
}

#pastry-chef img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay p {
    margin-bottom: 0;
}

.img-overlay {
    position: absolute;
    top: 40%;
    left: 0;
    height: 20%;
    width: 100%;
    padding: 5px;
    opacity: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 2s ease;
    transition: opacity 1s ease;
    box-sizing: border-box; /* Asegura que el padding no incremente el tamaño del div */
}

.img-container:hover .img-overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Cambia la opacidad del fondo al hacer hover */
    opacity: 1;
}

.col {
    position: relative;
}


#pasos-pedido {
    align-items: center;
    margin-left: 10%;
    width: 80vw;
}

.list-group-item {
    color: #9A44A2;
}

.step-text {
    margin-left: 5%;
    text-align: justify;
}

.paso-pedido {
    background-color: #F9EFF9;
    display: flex;
    width: 80vw;
}

.card-contacto {
    background-color: #F9EFF9;
}